.barra-avance__boton--regresar i
  color: #111e61 !important
.titulo__template--a span
  font-size: 1.125em

.titulo-principal__numero span
  color: $color-primario
.pasos-a__circle div    
  color: $color-primario

.list-blue i
  color: $color-acento-contenido
.lista2.lista-ul--color li > i:first-of-type
  color: $color-acento-botones

.paso-especial
  text-align: left !important

.texto-resaltado .etiqueta
  background-color: #FFE9B1
  color: #12263F
  padding: 0px
.etiqueta.new-etiqueta
  padding: 0px

.tabs-azul .tabs-b__tab--active 
  background-color: #FFF !important
  border-bottom: 2px solid #FFF !important
.tabs-azul .tabs-b__tab    
  background-color: #f3f9ff
  border-right: 2px solid #9DDFD3
  border-bottom: 2px solid #9DDFD3

.tabla-a2 th  
  background-color: #9DDFD3
  text-align: center
  color: #12263F
.tabla-a2 th.esp  
  background-color: #DBF6E9
  text-align: center
  color: #12263F 
.tabla-a2 .td-center
  text-align: center
.tabla-a2 .td-bg
  background-color: #f9f9f9

.cap-docente .necesidad
  border-top-left-radius: 20px
  border-top-right-radius: 0px
  border-bottom-right-radius: 0px
  border-bottom-left-radius: 20px
.cap-docente .acciones
  border-top-left-radius: 0px
  border-top-right-radius: 20px
  border-bottom-right-radius: 20px
  border-bottom-left-radius: 0px

.tema2-herramientas .tarjeta 
  height: 320px
.tema2-herramientas .tarjeta-avatar img 
  width: auto
  top: 10px
